<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/portfolio_app/public/css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Portfolio Diego Alfaro</title>
  </head>

  <body>
    <div class="navbar">
      <h2>Diego Alfaro</h2>
      <ul>
        <li><a href="homepage.html">Home</a></li>
        <li><a href="https://github.com/DiegoRAP2003">Github</a></li>
        <li><a href="aboutMe.html">About</a></li>
      </ul>
      <a href="hireMe.html" class="hire-btn btn">Hire Me</a>
    </div>
    <div class="main">
      <div class="title">
        <div class="greeting">Hi, My name is Diego Alfaro</div>
        <div class="sub-greeting">I am a 2nd year computer science student</div>
        <button class="contact-btn btn">Contact</button>
      </div>
      <div class="personal-foto">
        <img src="#" alt="" aria-placeholder="Personal" />
      </div>
    </div>
  </body>
</html>
