.card {
  margin: 20px;
  width: 20rem;
}

.card img {
  width: 18rem;
  height: 18rem;
}

#item-cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.counter-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter-buy button {
  width: auto;
  height: auto;
}

.counter-buy input {
  width: 50px;
  outline: none;
  border: 0.5px solid #ccc;
  border-radius: 9px;
}

.cart-total svg {
  margin-left: 15px;
}
