<%-include('includes/navbar.ejs', {username: username}) %>


<div class="container">
    <div class="personal-interest">
        Aqui va un poco de informacion acerca de mi
    </div>
</div>
</div>
</body>
</html>