<%-include('includes/navbar.ejs') %>

<div class="contact-field main">
    <div class="contact-info">
        <h2>Contact Information</h2>
        <h3>Name:</h3>
        <p>Diego Alfaro Pinto</p>
        <h3>E-mail:</h3>
        <p>diegoalfaropinto12@gmail.com</p>
        <h3>Phone Number:</h3>
        <p>442-136-0456</p>
    </div>
    <div class="contact-input">
        <form action="/ContactMe" method="post">
            <label for="name">
                <h2>Name:</h2>
            </label>
            <input type="text" placeholder="Insert your name" name="name" />
            <label for="email">
                <h2>E-mail:</h2>
            </label>
            <input type="text" placeholder="Insert your email" name="email" />
            <button type="submit" class="send-info btn">Send</button>
        </form>

    </div>
</div>
</div>
</body>

</html>