<%-include('includes/navbar.ejs', {username: username}) %>

    <div class="container">
        <div class="courses">
            <p>Aqui van a ir los cursos que he completado</p>
        </div>
        <button class="btn">jsjjs</button>
        <div class="education container">
            <p>Aqui va a ir mi educacion</p>
        </div>
    </div>
    </div>
    </body>
    
    </html>