<%-include('includes/navbar.ejs' ) %>

    <div class="title">
      <div class="greeting">Hi, My name is Diego Alfaro</div>
      <div class="sub-greeting">I am a 2nd year computer science student</div>
      <a href="/ContactMe" class="contact-btn btn">Contact</a>
    </div>
    <div class="personal-foto">
      <img src="#" alt="" aria-placeholder="Personal" />
    </div>
    </div>
  </body>
</html>
